@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 72px;
}
header .deadlogo {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .deadlogo img {
  height: 16px;
  width: 19px;
}
header nav ul {
  display: flex;
  gap: 37px;
  list-style: none;
}
header nav ul a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
}

.first {
  width: 19px;
  height: 16px;
}

button {
  background-color: #000000;
  color: #ffffff;
  width: 158px;
  height: 40px;
  border: none;
  cursor: pointer;
}

main div.black {
  background-color: #000000;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
main div.full {
  display: flex;
}
main div.text {
  color: #ffffff;
  width: 387px;
}
main h2 {
  font-size: 40px;
  line-height: 48px;
}
main p {
  font-size: 15px;
  line-height: 25px;
  margin-top: 21px;
  margin-bottom: 48px;
}
main span {
  font-size: 12px;
  line-height: 100%;
}
main .svg {
  color: #ffffff;
  display: flex;
  gap: 18px;
}
main .photo {
  width: 50%;
}

footer {
  width: 100%;
  height: 250px;
  background-color: #000000;
  display: flex;
}
footer .all {
  width: 100%;
  padding: 64px 165px 64px 171px;
  gap: 109px;
  display: flex;
  align-items: center;
}
footer .photosnap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .justifay {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .svg {
  display: flex;
  margin-top: 101px;
  gap: 13.33px;
  width: 154px;
  height: 20px;
}
footer .rgb-triangle {
  width: 19px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav ul {
  gap: 37px;
  list-style: none;
}
footer nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}
footer .span {
  color: #666666;
}
footer .span2 {
  color: #ffffff;
}
footer h1 {
  color: #ffffff;
}

section.seconds {
  width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.seconds div.card {
  position: relative;
}
section.seconds div.card div.cardimage {
  width: 360px;
  height: 500px;
}
section.seconds div.card div.cardimage img {
  width: 100%;
}
section.seconds div.card div.story_overlay {
  bottom: 40px;
  left: 40px;
  position: absolute;
}
section.seconds div.card div.story_overlay div.line {
  background-color: #ffffff;
  height: 1px;
  width: 280px;
  opacity: 25%;
  margin: 16px 0 20px 0;
}
section.seconds div.card div.story_overlay span.story_date {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
}
section.seconds div.card div.story_overlay h3.story_title {
  margin: 4px 0 4px 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
section.seconds div.card div.story_overlay p.story_author {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
section.seconds div.card div.story_overlay div.read {
  display: flex;
  justify-content: space-between;
}
section.seconds div.card div.story_overlay div.read a {
  color: #ffffff;
  text-decoration: none;
}/*# sourceMappingURL=home.css.map */