@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$white: #ffffff;
$black: #000000;
$grey: #808080;
$dirty-grey: #666666;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 72px;

  .deadlogo {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      height: 16px;
      width: 19px;
    }
  }
  nav {
    ul {
      display: flex;
      gap: 37px;
      list-style: none;
      a {
        text-decoration: none;
        color: $black;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
}

.first {
  width: 19px;
  height: 16px;
}

button {
  background-color: #000000;
  color: #ffffff;
  width: 158px;
  height: 40px;
  border: none;
  cursor: pointer;
}

main {
  div.black {
    background-color: $black;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  div.full {
    display: flex;
  }
  div.text {
    color: $white;
    width: 387px;
  }
  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  p {
    font-size: 15px;
    line-height: 25px;
    margin-top: 21px;
    margin-bottom: 48px;
  }

  span {
    font-size: 12px;
    line-height: 100%;
  }

  .svg {
    color: $white;
    display: flex;
    gap: 18px;
  }
  .photo {
    width: 50%;
  }
}

footer {
  width: 100%;
  height: 250px;
  background-color: $black;
  display: flex;

  .all {
    width: 100%;
    padding: 64px 165px 64px 171px;
    gap: 109px;
    display: flex;
    // justify-content: center;

    align-items: center;
  }

  .photosnap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .justifay {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .svg {
    display: flex;
    margin-top: 101px;
    gap: 13.33px;
    width: 154px;
    height: 20px;
  }

  .rgb-triangle {
    width: 19px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    ul {
      gap: 37px;
      list-style: none;
      a {
        text-decoration: none;
        color: $white;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }

  .span {
    color: $dirty-grey;
  }

  .span2 {
    color: $white;
  }

  h1 {
    color: $white;
  }
}

section.seconds {
  width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div.card {
    position: relative;

    div.cardimage {
      width: 360px;
      height: 500px;

      img {
        width: 100%;
      }
    }
    div.story_overlay {
      bottom: 40px;
      left: 40px;
      position: absolute;
      div.line {
        background-color: $white;
        height: 1px;
        width: 280px;
        opacity: 25%;
        margin: 16px 0 20px 0;
      }
      span.story_date {
        font-weight: 400;
        font-size: 13px;
        color: $white;
      }
      h3.story_title {
        margin: 4px 0 4px 0;
        color: $white;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
      }
      p.story_author {
        color: $white;
        font-size: 13px;
        font-weight: 400;
      }
      div.read {
        display: flex;
        justify-content: space-between;
        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}
